<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothing App</title>
  </head>

  <body>
    <h1>Welcome to the Clothing App</h1>
    <!-- navbar -->
    <h2>Collect your favorite Clothes</h2>
    <nav>
      <ul>
        <li><a href="/">Back to Home</a></li>
        <li><a href="/clothes">Back to Clothes</a></li>
      </ul>
      <h3>Name: <%= clothes.name %></h3>
      <h4>Description: <%= clothes.description %></h4>

    <!-- form -->
    <form action="/clothes/<%= clothes._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete <%= clothes.name %></button>
    </form>
    <p><a href="/clothes/<%= clothes._id %>/edit">Edit <%= clothes.name %></a></p>
  </body>
</html>
